.listItems {
  grid-area: listItems;
  display: flex;
  margin: 10px 20px 20px 20px;
  color: #7c918c;


  //.bottomLi {
  //
  //  background: #03161d;
  //  border-radius: 10px;
  //  height: 2em;
  //  line-height: 2em;
  //  padding-left: 15px;
  //  margin-left: 0;
  //
  //
  //}

  li:hover {
    background: #03161d;
    border-radius: 10px;
    height: 1.5em;
    line-height: 1.3em;

    padding-left: 15px;

    margin-left: 0;
  }

  li {

    padding: 5px;

    list-style-type: none;
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0;
  }

}