.infoList {
  display: flex;
  grid-area: infoList;
  margin: 10px 20px 20px 20px;
  color: #7c918c;


  .infoImg {
    width: auto;
    height: 300px;
    border-radius: 20px;
  }

  .nameItem {

    margin-top: 0;
    font-size: 30px;


  }

  li {

    margin: 15px;
    list-style-type: none;
  }

  ul {

    margin: 0;
    padding: 0;
  }

}
